/* start boxing */
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: start;
}

.grid-container {
  display: grid;
}
.gap-20 {
  gap: 20px;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.p-fixed {
  position: fixed;
}

.w-full {
  width: 100%;
}

@media (max-width = 767px) {
  .block-mobile {
    display: block;
  }
}
/* end boxing */

/* start border padding margin */
.p-6 {
  padding: 6px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.m-20 {
  margin: 20px;
}
.m-6 {
  margin: 6px;
}
.mx-20 {
  margin: 0px 20px;
}
/* end border padding margin */

/* start background color */
.bg-fff {
  background-color: #fff;
}

.bg-white {
  background-color: white;
}

.bg-teal {
  background-color: aqua;
}
/* start background color */

/* start radius */
.rad-6 {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
/* end radius */

/* start text */
.fs-18 {
  font-size: 18px;
}

.txt-c {
  text-align: center;
}

@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}

/* end text */
