/* start boxing */
.flex {
  display: flex;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-1 {
  flex-grow: 1;
}
.items-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: start;
}
.wrap {
  flex-wrap: wrap;
}

.grid-container {
  display: grid;
}
.gap-20 {
  gap: 20px;
}

.block {
  display: block;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.p-fixed {
  position: fixed;
}
.p-sticky {
  position: sticky;
  top: 0;
  left: 0;
}

.w-full {
  width: 100%;
}

.d-block {
  display: block;
}

@media (max-width = 767px) {
  .block-mobile {
    display: block;
  }
}
/* end boxing */

/* start border padding margin */
.p-6 {
  padding: 6px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.b-none {
  border: none;
}
.border-t-1 {
  border-top: 1px solid #eee;
}
.border-b-1 {
  border-bottom: 1px solid #eee;
}
.border-1 {
  border: 1px solid #eee;
}

.rounded-md {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.m-20 {
  margin: 20px;
}
.m-6 {
  margin: 6px;
}
.m-10 {
  margin: 10px;
}
.mx-20 {
  margin: 0px 20px;
}
.mb-6 {
  margin-bottom: 6px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}

.rounded-full {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* end border padding margin */

/* start background color */

.bg-fff {
  background-color: #fff;
}

.bg-white {
  background-color: white;
}

.bg-teal {
  background-color: aqua;
}

.bg-eee {
  background-color: #eee;
}

.bg-blue-200 {
  background-color: rgb(0 117 255 / 20%);
}

.bg-green-200 {
  background-color: rgb(34 197 94 / 20%);
}
.c-green {
  color: var(--green-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.bg-orange-200 {
  background-color: rgb(245 158 11 / 20%);
}

.c-red {
  color: red;
}
/* start background color */

/* start radius */
.rad-6 {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
/* end radius */

/* start text */
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}

.txt-c {
  text-align: center;
}

.txt-bold {
  font-weight: bold;
}

.txt-grey {
  color: var(--grey-color);
}

@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}

/* end text */
